-f https://download.pytorch.org/whl/torch
-f https://download.pytorch.org/whl/torchaudio
-f https://download.pytorch.org/whl/torchvision

torch
torchaudio
torchvision
matplotlib
scikit-learn
ujson
numpy
